.auth-page-wrp {
	display: -ms-flexbox;
	display: flex;
	flex: 1;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100%;
	background-color: #0016c2;
	position: relative;
}
.auth-page-wrp:after{
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	width: 80px;
	margin-left: -95px;
	-webkit-box-shadow: 21px 1px 27px -14px rgba(0,20,170,1);
	-moz-box-shadow: 21px 1px 27px -14px rgba(0,20,170,1);
	box-shadow: 21px 1px 27px -14px rgba(0,20,170,1);
}
.center-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
}
.center-content .partners-logo img {
	width: 100px;
}
.auth-page-content {
	-ms-flex: 1 1;
	flex: 1 1;
	position: relative;
	padding:15px;
}
.auth-page-logo{
	padding: 15px 0;
}
.auth-page-logo img{
	width: 130px;
}
.auth-page-footer{
	padding: 15px 0;
}
.shopify-logo img{
	width: 160px;
}
.auth-link p,
.auth-link-text{
	font-size: 16px;
	line-height: 18px;
	margin: 0;
	color: #657fff;
}
.auth-link-text:hover{
	color: #657fff;
}
.separator {
	width: 100px;
	height: 3px;
	background-color: #ddd;
	display: inline-block;
	border-radius: 50px;
}
.form-wrp .form-group label{
	color: #6d85ff;
}
.right-col-inner{
	height: 100%;
	position: relative;
	margin: 70px 0 0 0;
}
.bottom-image{
	position: absolute;
	bottom: -15px;
	width: 100%;
}
