body,
html {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-stretch: normal;
    font-weight: normal;
    letter-spacing: normal
}

body {
    background-color: #f7f7f7;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #929292;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-wrap: break-word;
    word-wrap: break-word
}

a,
p,
li {
    line-height: 1.8
}

a {
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
input {
    margin: 0;
    padding: 0
}

li,
ul {
    list-style: none;
    list-style-type: none
}

p {
    margin: 0;
    padding: 0
}

button {
    border: 0
}

.comp-button {
    font-family: 'Avenir Black';
    font-weight: normal;
    color: #9dadff;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    background: transparent;
    padding: 11px 35px !important;
    line-height: 15px;
    border-radius: 7px;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    position: relative
}

.comp-button-inverted {
    background: transparent;
    border: 1px solid #9dadff
}

.comp-button-inverted::hover {
    border-color: rgba(255, 255, 255, 0.83);
    color: rgba(255, 255, 255, 0.83)
}

.comp-button-green {
    background-color: #08de95;
    color: #ffffff
}

.comp-button-facebook {
    background-color: #4469b0;
    color: #ffffff
}

.comp-button-google {
    background-color: #4688f1;
    color: #ffffff
}

.comp-button-white {
    background-color: #ffffff;
    color: #0016b7
}

.comp-button-prefix-icon {
    display: inline-block;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 5px;
    left: 10px;
    overflow: hidden
}

.comp-button-prefix-icon img {
    height: auto;
    width: 100%
}

@font-face {
    font-family: 'Avenir Black';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Avenir-Black.eot");
    src: url("../fonts/Avenir-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Black.woff2") format("woff2"), url("../fonts/Avenir-Black.woff") format("woff"), url("../fonts/Avenir-Black.ttf") format("truetype"), url("../fonts/Avenir-Black.svg#AvenirBlack") format("svg")
}

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/AvenirNextLTPro-Bold.eot");
    src: url("../fonts/AvenirNextLTPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../fonts/AvenirNextLTPro-Bold.ttf") format("truetype"), url("../fonts/AvenirNextLTPro-Bold.svg#Avenir") format("svg")
}

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/AvenirNextLTPro-Regular.eot");
    src: url("../fonts/AvenirNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../fonts/AvenirNextLTPro-Regular.ttf") format("truetype"), url("../fonts/AvenirNextLTPro-Regular.svg#Avenir") format("svg")
}

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/AvenirLTStd-Light.eot");
    src: url("../fonts/AvenirLTStd-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-Light.woff2") format("woff2"), url("../fonts/AvenirLTStd-Light.woff") format("woff"), url("../fonts/AvenirLTStd-Light.ttf") format("truetype"), url("../fonts/AvenirLTStd-Light.svg#Avenir") format("svg")
}

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Avenir-Medium.eot");
    src: url("../fonts/Avenir-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Medium.woff2") format("woff2"), url("../fonts/Avenir-Medium.woff") format("woff"), url("../fonts/Avenir-Medium.ttf") format("truetype")
}

@font-face {
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Colfax-Medium.woff2") format("woff2"), url("../fonts/Colfax-Medium.woff") format("woff")
}

@font-face {
    font-family: 'Colfax';
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Colfax-Bold.woff2") format("woff2"), url("../fonts/Colfax-Bold.woff") format("woff")
}

@font-face {
    font-family: 'Colfax';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Colfax-Regular.woff2") format("woff2"), url("../fonts/Colfax-Regular.woff") format("woff"), url("../fonts/Colfax-Regular.ttf") format("truetype")
}

@font-face {
    font-family: 'proxima_novathin';
    src: url("../fonts/proxima_nova_thin-webfont.woff2") format("woff2"), url("../fonts/proxima_nova_thin-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'proxima_novaextrabold';
    src: url("../fonts/proxima_nova_extrabold-webfont.woff2") format("woff2"), url("../fonts/proxima_nova_extrabold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'proxima_novaregular';
    src: url("../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("../fonts/proximanova-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Avenir Roman';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Avenir-Roman.woff2") format("woff2"), url("../fonts/Avenir-Roman.woff") format("woff")
}

.font-colfax-bold {
    font-family: "Colfax";
    font-weight: 700
}

footer {
    padding: 25px;
    background-color: transparent;
    background-image: linear-gradient(90deg, #0015be 25%, #0015be 100%);
    color: #6e87fb;
    font-family: 'Colfax';
    font-style: normal
}

footer.isColorInverted {
    background-color: #fafafa;
    background-image: none
}

footer.isColorInverted a {
    color: grey
}

footer p {
    font-size: 15px
}

footer a {
    color: #6e87fb;
    font-size: 16px
}

footer img {
    margin-top: 15px;
    width: 150px
}

footer img+ul {
    margin-top: 15px
}

.footer-container {
    font-family: 'Colfax';
    font-style: normal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left
}

@media screen and (min-width: 840px) {
    .footer-container {
        flex-direction: row;
        height: 75px;
        align-items: center
    }
    footer {
        padding: 0
    }
    footer li {
        display: inline-block
    }
    footer img {
        margin: 0 auto
    }
    footer img+ul {
        margin-top: 0
    }
    footer .menu-left li {
        margin-left: 15px
    }
    footer .menu-right li {
        margin-right: 15px
    }
}

.form-text-input {
    height: 50px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.02);
    border: solid 1px #ffffff;
    background-color: #ffffff;
    box-sizing: border-box;
    overflow: hidden
}

.form-text-input input[type="password"],
.form-text-input input[type="text"] {
    margin: 0;
    border: 0;
    padding: 11px 20px 15px;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    outline: 0;
    width: calc(100% - 40px)
}

.form-text-input+.comp-button {
    margin-top: 50px
}

.form-col+.form-col {
    margin-top: 20px
}

.form-text-input+.form-input-label,
.form-col-2+.form-input-label {
    margin-top: 25px
}

.form-input-label {
    margin-bottom: 10px;
    color: #94a5f9;
    font-size: 18px;
    text-align: left
}

@media screen and (min-width: 840px) {
    .form-col+.form-col {
        margin-top: 0
    }
    .form-col-2 {
        display: block
    }
    .form-col-2 .form-col {
        display: inline-block;
        width: 49%
    }
    .form-col-2 .form-col+.form-col {
        margin-left: 2%
    }
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000
}

.section-default {
    background-color: transparent;
    background-image: linear-gradient(180deg, #0826d1, #0622bb)
}

.section-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}

.section-container .comp-button,
.section-container img {
    align-self: center
}

.typ-h1 {
    font-family: "Colfax", Sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 36px;
    line-height: 1.2em
}

.typ-h2 {
    font-family: "Colfax", Sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 88px;
    line-height: 1.2em
}

.typ-h3 {
    font-family: "Colfax", Sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 64px;
    line-height: 1.2em
}

.typ-h4 {
    color: #a5b4ff;
    font-family: "Avenir", Sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.3em;
    letter-spacing: -0.5px
}

.typ-h4 .typ-emphasis {
    font-family: "Avenir Black", Sans-serif;
    color: #fff
}

.typ-h5 {
    color: #fff;
    font-family: "Avenir Roman", Sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 1.3em
}

.typ-body {
    color: #94a5f9;
    font-family: "Colfax", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em
}

.typ-body a {
    color: #b3bbfc;
    font-weight: 700
}

.typ-muted {
    opacity: 0.7
}

@media screen and (min-width: 840px) {
    .typ-h1 {
        font-size: 80px;
        line-height: 1.2em
    }
    .typ-h2 {
        font-size: 88px;
        line-height: 1.2em
    }
    .typ-h3 {
        font-size: 64px;
        line-height: 1.2em
    }
    .typ-h4 {
        font-size: 26px;
        line-height: 1.3em;
        letter-spacing: -0.5px
    }
    .typ-h5 {
        font-size: 22px;
        line-height: 1.3em
    }
    .typ-body {
        font-size: 14px;
        line-height: 1.5em
    }
}

.auth-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    float: left;
    text-align: center
}

footer,
header {
    display: inline-block;
    width: 100%
}

footer .auth-container,
header .auth-container {
    height: 120px
}

footer {
    background-image: none;
    box-sizing: border-box
}

footer img {
    width: 200px
}

section {
    display: inline-block;
    width: 100%
}

.comp-button {
    height: 70px;
    line-height: 48px;
    font-size: 27px
}

.comp-button+.comp-button {
    margin-top: 20px
}

.dots-background {
    background-image: url("/images/Dots.png");
    background-repeat: repeat-y;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100
}

.login-form {
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%
}

.page {
    background-color: #0414a8;
    position: relative
}

.product-tile-background {
    display: none
}

.profitly-customers {
    margin-bottom: 20px
}

.star-rating {
    margin: 15px 0 60px
}

.comp-button+.typ-body,
.form-col-2+.typ-body {
    margin-top: 15px
}

.comp-button,
.form-text-input,
.form-input-label {
    width: 100%
}

.form-text-input {
    height: 70px
}

.form-text-input input[type="password"],
.form-text-input input[type="text"] {
    height: 48px;
    line-height: 48px
}

@media screen and (min-width: 840px) {
    section .auth-container {
        padding: 200px 0;
        height: 750px
    }
    .auth-container {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        float: left;
        margin-left: 12%;
        text-align: center
    }
    .dots-background {
        width: 300px
    }
    .product-tile-background {
        position: fixed;
        z-index: -1;
        top: 0;
        right: 0;
        width: 300px;
        height: 100%
    }
}

.profitly-customers {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap
}

.profitly-customer {
    display: inline-block;
    opacity: 0.4
}

.profitly-customer:hover {
    opacity: 1
}

.profitly-customer+.profitly-customer {
    margin-left: 20px
}

.profitly-customer img {
    width: 100%;
    vertical-align: middle
}

@media screen and (min-width: 840px) {
    .profitly-customer {
        height: 35px;
        line-height: 35px
    }
}

.star-rating img {
    height: auto;
    width: 155px
}

@media screen and (min-width: 840px) {
    .comp-button {
        display: inline-block;
        width: 250px
    }
    .comp-button+.comp-button {
        margin-left: 20px
    }
}