.top-area{
	padding: 100px 0;
	background: #0014a9; /* Old browsers */
	background: -moz-linear-gradient(top,  #0014a9 0%, #001bf9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #0014a9 0%,#001bf9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #0014a9 0%,#001bf9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0014a9', endColorstr='#001bf9',GradientType=0 ); /* IE6-9 */
}
.logos{
	margin: 0 0 15px 0;
}
.logos img{
	width: 130px;
}
.heading-main{
	font-size: 60px;
	color: #fff;
}
.wrapper{
	background-color: #f4f7fb;
}
.products {
	padding: 3%;
}
.product-box{
	float: left;
	width: 100%;
	position: relative;
	background-color: #fff;
	border-radius: 8px;
	margin: 15px 0;
	overflow: hidden;
}
.top-option-wrp {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	-moz-transform: translate(0px, -50px);
	-webkit-transform: translate(0px, -50px);
	-o-transform: translate(0px, -50px);
	-ms-transform: translate(0px, -50px);
	transform: translate(0px, -50px);
	transition: all 0.3s ease-in-out 0s;
	padding: 15px 15px 0 15px;
}
.product-box:hover .top-option-wrp{
	display: block;
	opacity: 1;
	visibility: visible;
	-moz-transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}
.top-option-wrp ul {
	float: right;
	margin: 0;
}
.top-option-wrp ul li {
	float: left;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	cursor: pointer;
	background-color: #ddd;
	text-align: center;
	line-height: 30px;
	margin: 0 0 0 10px;
}
.top-option-wrp ul li.like{
	background-color: #fedddc;
}
.top-option-wrp ul li.add-wsh-list{
	background-color: #e1f7e3;
}
.top-option-wrp ul li img {
	width: 16px;
}
.top-option-wrp ul li:hover img{
	opacity: 0.7;
}
.count-tag {
	float: left;
	width: 60px;
	height: 35px;
	color: #a5b6be;
	background-color: #ddd;
	border-radius: 50px;
	text-align: center;
	line-height: 37px;
	font-size: 26px;
	font-family: 'Avenir-Black';
}
.product-thumbnail {
	padding: 20% 15% 8% 15%;
}
.product-thumbnail figure{
	margin: 0;
}
.product-title {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 8px 8px 5px 8px;
	float: left;
	width: 100%;
}
.product-title h4{
	float: left;
	width: 80%;
	color: #535353;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 30px;
	line-height: 27px;
	margin: 0;
	font-size: 22px;
	font-family: 'Avenir-Medium';
}
.product-price {
	float: right;
	font-size: 22px;
	font-family: 'Colfax-Medium';
}
.product-bottom {
	padding: 8px;
	float: left;
	width: 100%;
}
.product-bottom ul{
	float: left;
	margin: 0;
}
.product-bottom ul li{
	float: left;
	color: #d1d1d1;
	margin: 0 10px 0 0;
	font-size: 16px;
	font-family: 'Colfax-Medium';
}
.product-bottom ul li span{
	position: relative;
	top: 2px;
}
.product-bottom ul li img{
	width: 18px;
}
.epacket {
	float: right;
}
.epacket img{
	width: 75px;
}
.btn-filert {
	color: #b6bcc3 !important;
	font-size: 20px !important;
	font-family: 'Avenir-Heavy';
	padding: 10px 25px !important;
	background-color: #edf1f5 !important;
	border:1px solid #e3eaf0 !important;
	margin: 0 0 15px 0;
}
.btn-filert:hover{
	background-color: #e9f1f9 !important;
}
.btn-filert img {
	position: relative;
	top: -2px;
	left: 0;
	margin: 0 10px 0 0;
}
.product-box.lockover{
	cursor: pointer;
}
.product-box.lockover .top-option-wrp{
	display: none;
}
.lockover:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.956;
	background-color: #fff;
	background-image: url("../images/lock-over.png");
	background-position: center center;
	background-repeat: no-repeat
}
.products-modal .modal-content{
	border-radius: 15px;
	border: none;
}
.modal-top-area {
	background-color: #0015bf;
	border-radius: 15px 15px 0 0;
	padding: 8% 8% 0 8%;
}
.modal-top-area h2 {
	font-size: 26px;
	color: #fff;
	font-family: 'Colfax-Bold';
}
.modal-top-area .btn-badge{
	margin: 0 0 20px 0;
}
.modal-top-area .btn-badge span {
	font-size: 20px;
	color: #fff;
	background-color: #1731ff;
}
.modal-middle-area{
	padding: 6% 8%;
}
.modal-middle-area h2 {
	font-size: 38px;
	font-family: 'Avenir-Black';
}
.modal-middle-area h5{
	color: #707070;
	font-size: 22px;
}
.choose-plan {
	display: block;
	float: left;
	width: 100%;
	padding: 8px;
	color: #cbcaca;
	font-size: 34px;
	outline: none;
	border-radius: 0 0 15px 15px;
	font-family: 'Avenir-Black';
	background-color: #ececec;
}
.choose-plan:hover{
	text-decoration: none;
}
.btn-badge{
	margin: 0 0 15px 0;
}
.btn-badge span {
	display: inline-block;
	padding: 8px 15px;
	color: #3147ff;
	font-size: 22px;
	line-height: 31px;
	background-color: #cdddff;
	border-radius: 10px;
	font-family: 'Avenir-Black';
}
.btn.close {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9;
	color: #fff !important;
}
.btn.close:hover,
.btn.close:focus,
.btn.close:active{
	background-color: transparent !important;
}
.product-preview-modal .btn.close{
	color: #3147ff !important;
}
.product-detail {
	display: flex;
	height: 100%;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.product-detail .count-box{
	margin: 0 0 15px 0;
}
.product-detail .count-box span {
	font-size: 30px;
	color: #c3c3c3;
	padding: 6px 15px;
	width: 50px;
	height: 50px;
	line-height: 42px;
	display: inline-block;
	text-align: center;
	border-radius: 12px;
	background-color: #f2f2f2;
	font-family: 'Avenir-Black';
}
.product-detail .btn-badge span {
	font-size: 18px;
	color: #c3c3c3;
	padding: 6px 15px;
	border-radius: 80px;
	background-color: #f2f2f2;
	font-family: 'Colfax-Regular';
	line-height: inherit !important;
}
.product-detail .prod-title{
	font-size: 30px;
	font-family: 'Avenir-Black';
}
.detail-bottom {
	width: 100%;
	margin: 20px 0 0 0;
}
.price-tags {
	font-size: 26px;
	margin: 0 0 15px 0;
	font-family: 'Avenir-Black';
}
.price-tags span{
	margin: 0 5px;
}
.price-tags span.old{
	color: #d0d0d0;
	text-decoration: line-through;
}
.product-action-btn .btn {
	padding: 0.375rem 2rem !important;
	line-height: 21px;
	border-radius: 50px !important;
	background-color: #ed2e33;
}
.bottom-options {
	float: left;
	width: 100%;
	background-color: #ececec;
	border-radius: 0 0 15px 15px;
}
.bottom-options .choose-plan {
	width: 60%;
	border-radius: 0;
	background-color: transparent;
}
.bottom-options .choose-plan.download {
	width: 13.3333%;
	border-left: 1px solid #d3d3d3;
}
.bottom-options .choose-plan.like {
	width: 13.3333%;
	border-left: 1px solid #d3d3d3;
}
.bottom-options .choose-plan.add {
	width: 13.3333%;
	border-left: 1px solid #d3d3d3;
}
.rating-star .stars{
	display: inline-block;
}
.product-filters {
	float: left;
	width: 100%;
	margin-top: -90px;
	margin-bottom: 30px;
	border-radius: 6px;
	background-color: #fff;
	border: 1px solid #e3eaf0;
}
.filter-box {
	float: left;
	width: 20%;
	padding: 20px;
	position: relative;
	height: 96px;
	border-right: 1px solid #e3eaf0;
}
.filter-box .filter-label{
	font-size: 22px;
	color: #4f4f4f;
	margin: 0;
	font-family: 'Avenir-Heavy';
}
.filter-output {
	color: #c8c8c8;
	font-size: 18px;
	font-family: 'Avenir-Heavy';
}
.filter-box:last-child{
	border-right: none;
}
.drop-element {
	left: 0;
	top: 100%;
	z-index: 9;
	width: 100%;
	padding: 8px 20px;
	display: none;
	margin: 1px 0 0 0;
	position: absolute;
	background-color: #fff;
	border-radius: 0 0 5px 5px;
	height: 60px;
}
.filter-box:hover .drop-element {
	display: block;
}
.filter-box .input-range__label--value{
	display: none;
}
.filter-box .input-range__label{
	font-family: 'Colfax-Medium';
}
.filter-box .input-range__track{
	height: 12px;
}
.filter-box .input-range__track--active{
	background: #c6c6c6;
}
.filter-box .input-range__slider{
	height: 24px;
	margin-top: -18px;
	width: 24px;
	background: #c6c6c6;
	border:3px solid #fff;
}
.filter-box .form-control-transparent,
.filter-box .form-control-transparent:focus{
	color: #c8c8c8;
	font-size: 18px;
	border:none;
	height: auto !important;
	padding: 0 1.75rem 0 0;
	font-family: 'Avenir-Heavy';
	background-color: transparent;
}
