.landing-top-section {
  padding: 100px 0 350px 0;
  background-color: #0017c2;
  position: relative;
  background: url("./images/bg-top.png") no-repeat center;
  background-size: 100% 100%;
}
.landing-page h1{
  font-size: 60px;
}
.section-cta {
	margin: 120px 0;
	padding: 50px 60px;
  border-radius: 10px;
  background: url("./images/bg-dots.png") no-repeat center center;
  background-size: cover;
}
.content-screen-wrp {
	position: absolute;
	padding: 30px 0 0 0;
	left: 50%;
  bottom: -30px;
  width: 70%;
	transform: translate(-50%, 0);
}
.partners-logo{
  margin: 0 0 15px 0;
}
.partners-logo img {
	width: 130px;
}
.reviews img{
  width: 150px;
}
.auth-link {
  color: #ddd;
  
}
.auth-link p{
  font-family: 'Avenir';
  color: #657fff;
  font-size: 18px;
}
.auth-link p a{
  color: #a0b0ff;
  font-family: 'Colfax-Bold';
}
.section-cta .landing-heading h1{
  font-size: 44px;
}
.section-cta .landing-heading h3{
  font-size: 34px;
  color: #a3b2fd;
  font-family: 'Colfax-Regular';
}